<section class="intro">
  <div class="container">
    <style>
      .cf-browser-verification.cf-im-under-attack, 
      .cf-browser-verification.cf-im-under-attack *, 
      .cf-browser-verification.cf-im-under-attack * *, 
      .cf-browser-verification.cf-im-under-attack * * *,
      .cf-browser-verification.cf-im-under-attack * * * *,
      .cf-browser-verification.cf-im-under-attack * * * * *, 
      .cf-browser-verification.cf-im-under-attack * * * * * *, 
      .cf-browser-verification.cf-im-under-attack * * * * * * *{
        text-align:center !important;
      }
    </style>
    <p class="lead" style="text-align:center;">현재 서버가 공격받고 있습니다.</p>
    <p class="lead" style="text-align:center;">당신이 사람임을 확인하는 절차가 진행중입니다.</p>
    <p class="lead" style="text-align:center;"> ::IM_UNDER_ATTACK_BOX::</p>
  </div>
</section>
